#graph {
  margin: 30px;
  text-align: center;
}

#graph button {
  margin-top: 20px;
  text-align: center;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 20px;
  color: white;
  border-color: transparent;
  background-color: steelblue;
  cursor: pointer;
}
